[mysqld]
pid-file = /opt/homebrew/var/mysql/pikochikononotobukkukonpyuta.local.pid
socket = /tmp/mysql.sock
datadir = /opt/homebrew/var/mysql
log-error = /opt/homebrew/var/mysql/pikochikononotobukkukonpyuta.local.err

[client]
socket = /tmp/mysql.sock

